@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --pink: #ff1fa9;
  --lightpink: #ffcfec;
  --grey: #d2d2d2;
}

@font-face {
  font-family: "HelveticaWorld";
  src: url("/fonts/HelveticaWorld.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap; /* optional, avoids FOUT */
}

html,
body {
  margin: 0;
  padding: 0;
}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #050505;
    --foreground: #f5f5f5;
  }
} */

body {
  background: var(--grey);
  color: #000;
  font-family: 'HelveticaWorld', Helvetica, Arial, sans-serif;
}

.font-helvetica {
  font-family: "Helvetica Neue", Helvetica, Arial, system-ui, sans-serif; 
  text-transform: uppercase; 
  letter-spacing: 0.15em; 
}

.font-anton{
  font-family: var(--font-anton); 
}

@keyframes page-fade-up {
  from {
    opacity: 0;
    transform: translateY(6px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@layer utilities {
  .page-transition {
    animation: page-fade-up 0.25s ease-out;
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;  
  scrollbar-width: none;    
}