@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --pink: #f4b7d8;
  --grey: #d2d2d2;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #050505;
    --foreground: #f5f5f5;
  }
} */

body {
  background: var(--grey);
  color: #000;
  font-family: Arial, Helvetica, sans-serif;
}

.font-helvetica {
  font-family: "Helvetica Neue", Helvetica, Arial, system-ui, sans-serif; 
  text-transform: uppercase; 
  letter-spacing: 0.15em; 
}

.font-anton{
  font-family: var(--font-anton); 
}
